ul.itemsPublic {
	list-style: none;
	display: block; padding: 0!important;
	height: 100%;
	width: 100%;
}
ul.itemsPublic li {
	list-style: none;
	display: block; margin: 0 10px 0 0;
	float: left; width:185px;
	position: relative;
	text-align: center;
	font-size: 10px;
}


ul.itemsPublic li img{
	width:100%;
}
.sidebar ul.itemsPublic li {
	width: 100%;
	margin: 0;
}
.sidebar ul.itemsPublic li a {
	width:80%;
}

ul.itemsPublic li div.thumbPublic {
	margin: 0 auto; width: 100%;
	padding: 0;
	z-index: 2;
	position: relative;
	float: left;
}


ul.itemsPublic li div.thumbPublic a,
ul.itemsPublic li div.thumbPublic img {
	margin: 0 auto; width: 100%;
	padding: 0; font-size:80%;
}
ul.itemsInsert {
	list-style: none;
	display: block;
	height: 150px;
	width: 100%;
	margin: 0 auto 20px auto;
}
ul.itemsInsert li {
list-style: none;
display: block;
float: left;
margin: 0 5px 10px 10px !important;
border: 1px solid white;
position: relative;
text-align: center;
font-size: 10px;
width: 135px;

}
ul.itemsInsert li div.thumbPublic {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	z-index: 2;
	position: relative;
	float: left;
}

ul.itemsInsert li div.thumbPublic div.headerBox {border-top: 1px solid #000;
height: 15px;}

ul.itemsInsert li {
    padding: 5px;
    border: 1px solid lightgrey;
}

ul.itemsInsert li.select {
	background-color: aqua;
}
ul.itemsInsert li div.thumbPublic .removeThumb {
	display: none;
}
ul.itemsInsert li.select .removeThumb {
	display: block;
}
ul.itemsInsert li.select .addThumb {
	display: none;
}
ul.itemsInsert li div.thumbPublic a,
ul.itemsInsert li div.thumbPublic img {
	margin: 0 auto;
	padding: 0;
}
ul.itemsInsert li img {
	width: 100%;
	height: 60%;
}
div.empty {
	clear: both;
	margin: 30px 0 30px 0;
}