div.action {
	clear: both;
	height: 40px;
	margin: 0 0 10px 0;
}
div.action span {
	height: 40px;
	margin: 0 10px 0 0;
	float: left;
	display: block;
}
div.action .icon_sync0 {
	cursor: pointer;
}
div.action .icon_sync1 {
	background: transparent url('../img/7uo1osj.gif') no-repeat center left;
}
div.action .icon_sync2 {
	background: transparent url('../img/7uo1osj.gif') no-repeat center left;
}
div.action .icon_save {
	background: transparent url('../img/save.gif') no-repeat center left;
	cursor: pointer;
}
.form_save {

	cursor: pointer;
	height: 40px;
	float: left;
	display: block;
}
/*table.items {
	list-style: none;
	display: block;
	height: 100%;
	width: 100%;
	margin: 0 auto 20px auto;
}
table.items tr {
	list-style: none;
	display: block;
	float: left;
	height: 220px;
	margin: 0 5px 10px 0!Important;
	border: 1px solid #FFF;
	position: relative;
	text-align: center;
}  */
table.items tr {
	margin: 0 auto;
	padding: 0;
	width: 100%; 	text-align: center;
	height: 100%;
	z-index: 2;
	position: relative;
}

table.items tr span {
	display: inline-block;
	zoom: 1;
	display: -moz-inline-stack;
	width: 36px;
	height: 36px;
	cursor: pointer;
}

table.items span.thumb-container {
    background:#fff url('../img/empty.jpg') no-repeat center center;
    background-size: contain;
    position: relative;
    width: 160px !important;
    height: 100px !important;
}

table.items tr div.icon_licence  {
	width:30px; height:30px; position:absolute; bottom:10px; right:5px;
	 z-index: 10; 
}

table.items tr div.PAYPERVIEW  {
	background: transparent url("https://www.wim.tv/wimtv-webapp/images/licenseConditions/pay.png") no-repeat center center;
}
table.items tr div.CREATIVE_COMMONS{
	background: transparent url("https://www.wim.tv/wimtv-webapp/images/licenseConditions/cc.png") no-repeat center center;
}

table.items tr div.FREEOFCHARGE{
	background: transparent url("https://www.wim.tv/wimtv-webapp/images/licenseConditions/play.png") no-repeat center center;
}


table.items tr .icon_Putshowtime,
table.items tr .icon_AcquiPutshowtime {
	background: transparent url('../img/putST.png') no-repeat center center;
}
table.items tr .icon_Removeshowtime,
table.items tr .icon_RemoveshowtimeInto,
table.items tr .icon_AcqRemoveshowtime {
	background: transparent url('../img/removeST.png') no-repeat center center;
}
table.items tr .icon_view {
	background: transparent url('../img/view.png') no-repeat center center;
}
table.items tr .icon_remove {
	background: transparent url('../img/remove.png') no-repeat center center;
}
table.items tr .icon_viewVideo {
	background: transparent url('../img/viewThumb.png') no-repeat center center;
}

table.items tr .icon_moveThumbs {
	background: transparent url('../img/arrow.png') no-repeat center center;
}
table.items tr .icon_download {
	background: transparent url('../img/download.png') no-repeat center center;
}

table.items tr a,
table.items tr img {
	margin: 0 auto!important;
	padding: 0;
	width: 160px; height:100px;
}
div.formVideo {
    border: 1px solid black;
	text-align: left;
	z-index: 1000;
	background: #fff;
	display: none;
	padding: 5px;
}
div.formVideo div {
	cursor: pointer;
}
div.formVideo div.dis {
	color:#ccc; cursor:default;
}

.items .ui-selecting {
	border: 1px solid #FECA40;
}
.items .ui-selected {
	border: 1px solid #F39814;
	color: white;
}
div.icon {
	height: 36px;
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 36px;
}
div.loader {
	height: 36px;
	background: transparent url('../img/loader.gif') no-repeat center center;
	display: none;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
div.headerBox {
	height: 36px;
	width: 100%;
	position: relative;
}
div.empty {
	clear: both;
	margin: 30px 0 30px 0;
}
.cc_set {
	cursor: pointer;
}
.cc_set img {
	border: 2px solid transparent;
}
.cc_set:hover img {
	border: 2px solid aqua;
}
.selected {
	background-color: aqua;
}


.viewThumbs {
	cursor: pointer; width:95%;
}
.viewThumbs:hover {
	background-color: aqua;
}
.createUrl {
  cursor:pointer;
}
.removeUrl {
  cursor:pointer; display:none;
}
.passwordUrlLive{
	display:none;
}
.passwordUrlLive b.createPass{
	cursor:pointer;
}

div.registration{
	border:1px dotted gray; width:80%; padding:10px;
}

table td.image img{
	width:160px; height:100px;
}

div.registration{
	border:1px dotted gray; width:80%; padding:10px;
}


div.summary{
	position:relative; margin:20px 0 0 0;
	min-height:150px;
	height:auto!important;
	height:150px;
}
div.tabs {
	/*position:absolute; top:0; */
	height: 30px; z-index:10;
}
div.tabs span{
	font-size:16px; margin:0 10px 0 0; padding:5px; text-align:center; cursor:pointer;
	width:150px; border:1px solid #ccc; display:block; float:left; background-color: #f7f7f7;
}

div.tabs span.active{border-bottom:1px solid #fff; background-color: #FFF;}

div.view{
	border:1px solid #ccc; z-index:9;
	/*position:absolute; top:27px; */  margin-top:1px;
	padding: 10px;
}
div#view_graph{
	display:none; 
}
div#view_graph div.cols{
	width:100%;  margin: 0;
}

div#view_graph div.cols div.col{
	width:100%; position:relative;margin:0 0 0.5% 0;
	text-align:center; height:20px;
}
div#view_graph div.cols div.date{
	 text-align:center; font-size:10px; float:left;
	height:100%; line-height:23px; width:12%;
}
div#view_graph div.cols div.title{
	 text-align:center; font-size:10px; float:left;
	height:100%; line-height:23px;  width:42%;
}

div#view_graph div.cols div.col div.countview{
	background-color: #f7f7f7;  overflow: hidden;
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
    height:100%; width:42%; float:left; margin:0  1% 0 0;
}

div#view_graph div.cols div.col div.countview .bar{
	height: 100%;
	color: #000;
	float: left;
	line-height: 22px;
	font-size: 10px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #F39814;
	background-repeat: repeat-x;
}
div#view_graph div.cols div.col div.countview .barTraffic{
	height: 100%;
	color: #000;
	float: left;
	line-height: 22px;
	font-size: 10px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #99CCFF;
	background-repeat: repeat-x;
}

div.wimtv-thumbnail {
	position:relative; text-align:center;
}
div.wimtv-thumbnail img {
    min-height:100px; min-width:160px; background:#fff url('../img/empty.jpg') no-repeat center center;
    position:relative;
}
div.img_empty {
  margin:0; padding:0;
  width:160px; height:100px; background:#fff url('../img/empty.jpg') no-repeat center center;
}



.playlist{
	clear:both; height:25px;
}

.playlist .title{
	background-color:transparent!important; border:none!important;
}

.playlist .title:focus{
	background-color:#fff!important; border:1px solid #666!important;
}
.playlist input{
	width:40%; display:block; float:left; background-color:#fff!important; border:1px solid #666!important;
}
.playlistNew input{
	width:40%; display:block; float:left; background-color:#fff!important; border:1px solid #666!important;
	margin:0 0 0 22px;
}
.playlist span.counter{font-size:18px}

.icon_modTitlePlay {
	background: transparent url('../img/mod.png') no-repeat center center; width:20px; height:20px; display:none; float:left; cursor:pointer;
}
.icon_selectPlay {
	background: transparent url('../img/select.png') no-repeat center center; width:20px; height:20px;display:block; float:left; cursor:pointer;
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */	
}

.playlist .icon_viewPlay{
	background: transparent url('../img/view2.png') no-repeat center center; width:20px; height:20px;display:block; float:left; cursor:pointer; margin:4px 2px 0 0;
}


.selected .icon_selectPlay {
	background: transparent url('../img/select.png') no-repeat center center; width:20px; height:20px;display:block; float:left; cursor:pointer;
		opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */

}

.icon_createPlay {
	background: transparent url('../img/add.png') no-repeat center center; width:20px; height:20px;display:block;float:left;  cursor:pointer;
}
.icon_deletePlay {
	background: transparent url('../img/remove2.png') no-repeat center center; width:20px; height:20px;display:block; float:right; cursor:pointer;
}



ul.items_playlist {
	list-style: none;
	display: block;
	width: 100%; height:250px;
	margin: 0 auto 0 auto;
}
ul.items_playlist li {
	list-style: none;
	display: block;
    float: left;
	width:120px; height:120px !important;
	margin: 0 5px 10px 0 !important;
	padding:10px 0 0 0;
	border: 1px solid #FFF;
	position: relative;
	text-align: center; cursor:pointer;
}


ul.items_playlist li div.thumb {
	margin: 0 auto;
	padding: 0;
	width: 100%; 	text-align: center;
	height: 100%;
	z-index: 2;
	position: relative;
}
ul.items_playlist li div.thumb span {
	display: inline-block;
	zoom: 1;
	display: -moz-inline-stack;
	width: 36px;
	height: 36px;
	cursor: pointer;
}

ul#dropfalse{height:250px; min-height:250px; height:auto !Important;}

ul.items_playlist li a,
ul.items_playlist li  img {
	margin: 0 auto!important;
	padding: 0;
	width: 100px; height:80px;
}
ul.items_playlist .icon_remove{display:none!important;}
ul.items_playlist .headerBox{display:none!important;}
ul.items_playlist .title{font-size:10px; width:100px; height:24px;}


div.sortable1, div.sortable2{ width:45%; float:left; height:250px; min-height:250px; height:auto !important; border:1px solid #ccc; margin:0 1% 0 1%; text-align:center;}

div.sortable2{ background-color:#e4e4e4; height:250px; min-height:250px; height:auto !important;}
div.sortable1{  height:500px; min-height:500px; height:auto !important;}


div.embeddedCode{ clear:both; width:100%; margin:10px;}
div.embeddedCode textarea{ width:80%; color:#999; font-size:12px; height:90px;}


div.help {
	float: right;
	font-size: 14px;
	background: transparent url('../img/help.png') no-repeat center left;
	position: absolute; right:0;
	padding: 10px 0 10px 36px;
}
div.help a{
	width:100%; height:100%;
}